{{ partial "header" (dict "Kind" .Kind "Template" "Single") }}

     <div style="margin:25px;">
          <h1>{{.Title}}</h1>
          <div style="font-size:18px;">{{.Summary}}</div>
          <div class="post-data">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
          <div class="post-author">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          <div style="social-share"><amp-social-share type="twitter" width="45" height="33"></amp-social-share>
      <amp-social-share type="facebook" width="45" height="33" data-attribution="254325784911610"></amp-social-share>
      <amp-social-share type="gplus" width="45" height="33"></amp-social-share>
      <amp-social-share type="email" width="45" height="33"></amp-social-share>
      <amp-social-share type="pinterest" width="45" height="33"></amp-social-share></div>
      <div class="content">
          {{.Content}}
      </div>
     </div>
{{ partial "footer" . }}
