<amp-carousel width="1280" height="1000" layout="responsive" type="slides">
        <figure class="figure">
          <amp-img src="https://ampbyexample.com/img/landscape_lake_1280x857.jpg" width="1280" height="857" layout="responsive"></amp-img>
          <figcaption>Each image has a different caption.</figcaption>
        </figure>
        <figure class="figure">
          <amp-img src="https://ampbyexample.com/img/landscape_village_1280x853.jpg" width="1280" height="853" layout="responsive"></amp-img>
          <figcaption>This caption is different.</figcaption>
        </figure>
        <figure class="figure">
          <amp-img src="https://ampbyexample.com/img/landscape_desert_1280x853.jpg" width="1280" height="853" layout="responsive"></amp-img>
          <figcaption>The third image has its caption.</figcaption>
        </figure>
      </amp-carousel>
