<figure class="figure">
        <amp-iframe src="https://www.google.us/trends/embed/US_cu_82I1CVMBAACV6M_en/horserace_chart_3c6cdb21-e1eb-4412-9c28-707c3638ea35?hl=en&template=fe"
                    title="Interactive chart displaying 2016 Oscar Best Picture search interest by date"
                    height="360"
                    layout="fixed-height"
                    frameborder="0"
                    sandbox="allow-scripts allow-same-origin">
          <amp-img src="https://ampbyexample.com/img/oscars_placeholder_1.png"
                   layout="fixed-height"
                   height="360"
                   width="auto"
                   placeholder>
          </amp-img>
        </amp-iframe>
        <figcaption>An interactive chart - in AMP!</figcaption>
      </figure>
